body {
	background-color: #fafafa;
/*background-image: url("../images/movies.jpg");*/
}

nav {
	background-color: #ffffff;
}

nav ul a {
	color: #212121;
}

nav .brand-logo {
	color: #212121;
}

footer.page-footer {
	background-color: #ffffff;
}

.container {
	color: #212121;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: #ff9100;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
	color: #ffab40;
}